/* poppin font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.fs-0 {
  font-size: 2.5rem;
}
.fs-big {
  font-size: 3.5rem;
  width: 50%;
}
.text-grey {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 576px) {
  .fs-big {
    font-size: 2.5rem;
    width: 100%;
  }
}
